*{
	margin: 0;
	padding: 0;

}

.container{
	position: relative;
}

.bgtop{
	height: 300px;
	width: 800px;
}

.first-container{
	margin: -180px auto 50px 150px;
	position: relative;

}

.one{
	width: 350px;
	height: 200px;
	padding: 10px;
}

.one h1{
	font-family: 'Ranchers', cursive;
	color: #931a25;
	font-size: 40px;
	padding: 2px;
	margin-bottom: 10px;
}

.one p{
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 13px;
	color: #2a3d66;
	padding: 5px;
	line-height: 1.6;


}

.subone{
	width: 370px;
	height: 20px;
	padding: 3px;
	background-color: #faf3dd;
	color: #1d2d50;
	box-shadow: 1px 1px #faf3dd;
	position: absolute;
	left: 480px;
	top: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}


.first-container img{
	margin-right: 5px;
}

.subtwo{
	width: 370px;
	height: 20px;
	padding: 3px;
	background-color: #faf3dd;
	color: #1d2d50;
	box-shadow: 1px 1px #faf3dd;
	position: absolute;
	left: 510px;
	top: 70px;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}

.subthree{
	width: 370px;
	height: 20px;
	padding: 3px;
	background-color: #faf3dd;
	color: #1d2d50;
	box-shadow: 1px 1px #faf3dd;
	position: absolute;
	left: 560px;
	top: 110px;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}


.second{
	width: 320px;
	height: 200px;
	background-color: #133b5c;
	color: #fff;
	border-radius: 10px;
	position: absolute;
	top: 460px;
	left: 100px;
}

.pic1{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	margin: 7px auto 7px 7px;
	float: left;
}

.one1{
	width: 300px;
	height: 70px;
	padding: 3px;
	margin-left: 10px;
	margin-top: 10px;

}

.one1 h5, h6{
	text-align:left;
	margin-top: 12px;
	margin-left: 80px;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
}

h6{
	color: #407088;
}

.second p{
	width: 290px;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 13px;
	line-height: 1.7;
	margin-left: 10px;

}
.twotwo{
	width: 320px;
	height: 200px;
	background-color: #133b5c;
	color: #fff;
	border-radius: 10px;
	position: absolute;
	left: 430px;
	top:480px;
}

.two{
	width: 300px;
	height: 70px;
	padding: 3px;
	margin-left: 10px;
	margin-top: 10px;
}

.pic2{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	margin: 7px auto 7px 7px;
	float: left;
}

.two h5, h6{
	text-align:left;
	margin-top: 12px;
	margin-left: 80px;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
}

.twotwo p{
	width: 290px;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 13px;
	line-height: 1.7;
	margin-left: 10px;
}

.twothree{
	width: 320px;
	height: 200px;
	background-color: #133b5c;
	color: #fff;
	border-radius: 10px;
	position: absolute;
	left: 760px;
	top: 500px;
}

.pic3{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	margin: 7px auto 7px 7px;
	float: left;
}

.three h5, h6{
	text-align:left;
	margin-top: 12px;
	margin-left: 80px;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
}

.three{
	width: 300px;
	height: 70px;
	padding: 3px;
	margin-left: 10px;
	margin-top: 10px;
	
}

.twothree p{
	width: 290px;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 13px;
	line-height: 1.7;
	margin-left: 10px;

}

.bgbottom{
	width: 850px;
	height: 400px;
	margin-left: 350px;

}

.attribution{
	position: absolute;
	left: 750px;
	top: 770px;
}

.attribution a{
	color: #68b0ab;
}